:root {

    /*Green Scale*/
    --green: rgb(170, 226, 191);
    --dark-green: rgb(63, 228, 126);

    /*Black Scale*/
    --black: black;
    --black-hover: rgb(32, 30, 30);
    --dark: rgba(32, 30, 30, 0.774);
    --grey: rgb(83, 78, 78);
    
    /*White Scale*/
    --white: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 1fr 0.05fr;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";

    margin: 30px 30px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    z-index: 1;

    max-width: 1920px;
    max-height: 1080px;
}

body a {
    text-decoration: none;
    color: black;
}

body a:hover {
    text-decoration: none;
    color: var(--grey);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 0.9rem;

    grid-area: header;

    margin-bottom: 20px;
}

header img {
    width: 60px;
    height: 60px;
}

header nav ul {
    display: flex;
    gap: 25px;

    list-style: none;
}

header nav ul li button {
    border: 2px solid var(--black);
    border-radius: 8px;

    padding: 5px;
    margin-top: -2px;

    cursor: pointer;

    text-align: center;
}

header nav ul li button:hover {
    color: var(--black-hover);
}

main {
    display: flex;    
    flex-direction:column;
    align-items: start;

    grid-area: main;
    gap: 8px;

    margin-left: 135px;
    margin-top: 80px;
    padding: 0 65px;
}

main p {
    color: var(--dark);
    font-size: 0.8rem;
}

main button {
    background-color: var(--green);

    border: none;
    border-radius: 5px;

    padding: 17px;
    margin-top: 50px;

    cursor: pointer;

    color: var(--black);
}

main button:hover {
    background-color: var(--dark-green);

    color: var(--white);
}

main h1 span {
    border-radius: 4px;

    background-color: var(--green);
}

aside {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-area: aside;
}

aside img {
    width:  20px;
    height: 20px;
}

#aside-image {
    width:  320px;
    height: 400px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 10px;
}

footer {
    grid-area: footer;

    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p, footer p a {
    color: var(--dark);
    font-size: 0.8rem;
}

footer a:hover {
    font-weight: bold;
}