footer {
    grid-area: footer;

    margin-top: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p, footer p a {
    color: var(--dark);
    font-size: 1vw;
}

footer a:hover {
    font-weight: bold;
}