:root {

    /*Green Scale*/
    --green: rgb(170, 226, 191);
    --dark-green: rgb(63, 228, 126);

    /*Black Scale*/
    --black: black;
    --black-hover: rgb(32, 30, 30);
    --dark: rgba(32, 30, 30, 0.774);
    --grey: rgb(83, 78, 78);
    
    /*White Scale*/
    --white: rgb(255, 255, 255);
}
